@charset "UTF-8";

/* Configurações da seção de apresentação */
section#seção_1 {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  align-items: center;

  height: 500px;
  padding: 20px;
}

section#seção_1 > div > h1 {
  font-size: 34px;
  width: 350px;
}

section#seção_1 > img#logo {
  min-width: 50px;
  min-height: 50px;
  max-width: 260px;
  max-height: 260px;
  padding-bottom: 5px;
}

section#seção_1 > div > button {
  margin-top: 20px;
}

/* Configurações da frase extra */
p#frase_extra {
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

/* Configuração da seção de serviços */
section#seção_2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  padding-top: 30px;
}

#linha_branca_menor {
  width: 220px;
}

section#seção_2 > h1 {
  font-size: 34px;
}

#linha_branca_maior {
  width: 300px;
}

div#serviços {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;

  margin-top: 30px;
  padding-bottom: 20px;

  min-height: 320px;
}

.tipos_de_serviços {
  width: 250px;
  height: 250px;
  margin: 10px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.64);
}

/* Configurações da seção do instagram */
#linha_laranja_menor {
  width: 300px;
}

section#seção_3 > h1 {
  font-size: 34px;
}

#linha_laranja_maior {
  width: 360px;
}

.fotos_modelos {
  width: 300px;
  margin: 20px;
}

div#modelos {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 90%;
}
