@charset "UTF-8";

div#inicial{
    height: 400px;
    flex-direction: column;
}

div#inicial>div#mensageminicial>h1{
    margin: 5px 0px 0px 30px;
}

h1{
    font-size: 28px;
}

p{
    font-size: 17px;
}

div#mensageminicial{
    order: 2;
}

div#logo{
    order: 1;
        margin: auto;
}

img#logo{
    width: 130px;
    height: 130px;
    margin-top: 20px;
    margin-bottom: 10px;
}

div#whatsapp{
    margin: 10px 0px 0px 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.56);
}

div#serviços{
    height: 800px;
}

div#linhabranca1{
    width: 150px;
    margin-bottom: 0px;
}

div#linhabranca2{
    width: 200px;
    margin-top: 5px;
    margin-bottom: 30px;
}

div#corte, div#barba, div#sobrancelha{
    height: 200px;
    width: 200px;
    margin-top: 0px;
    margin-bottom: 30px;
}

div#linhalaranja1{
    width: 200px;
}

div#linhalaranja2{
    width: 300px;
    margin-bottom: 10px;
}

div#instagram>img{
    width: 200px;
    margin: 10px;
}

footer{
    padding: 15px 30px;
}