@charset "UTF-8";

/* Configurações da seção de apresentação */
section#seção_1 {
  flex-direction: column-reverse;
}

main > section#seção_1 > img#logo {
  width: 150px;
  margin: 20px auto;
}

main > section#seção_1 > div > h1 {
  text-align: left;
  margin: 0px 0px 5px 20px;
  width: 250px;
}

section#seção_1 > div > button {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Configurações da frase extra */
p#frase_extra {
  padding: 20px;
  font-size: 14px;
}

/* Configuração da seção de serviços */
section#seção_2 {
  flex-direction: column;
  align-items: center;
}

div#linha_branca_menor {
  width: 120px;
}

div#linha_branca_maior {
  width: 220px;
}

.tipos_de_serviços {
  width: 230px;
  height: 230px;
  margin: 20px;
}

/* Configurações da seção do instagram */
div#linha_laranja_menor {
  width: 180px;
}

.fotos_modelos {
  width: 230px;
  margin: 20px;
}

div#linha_laranja_maior {
  width: 230px;
}

div#modelos {
  flex-direction: column;
}
