@charset "UTF-8";

@font-face {
  font-family: gotham;
  src: url(../font/GothamBlack.otf);
}

/* Configurações gerais */
* {
  padding: 0px;
  margin: 0px;
  font-family: gotham;
}

body {
  max-width: 1200px;
  margin: auto;
  background-color: rgb(14, 14, 14);
  box-shadow: 0px 0px 7px rgba(16, 73, 135, 0.556);
}

img{
  pointer-events: none;
}

.texto_branco {
  color: white;
}

.texto_laranja {
  color: #c7720f;
}

h1 {
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.637);
}

/* Configuração geral da seção de apresentação */
section#seção_1 {
  background: black url(../images/fundo1.jpg) no-repeat center center;
  background-size: cover;

  display: flex;
}

main > section#seção_1 > div > button#botão_whatsapp {
  width: 230px;
  background-color: #c7720f;
  padding: 0px;
  border: none;
  border-radius: 8px;

  display: flex;
  align-items: center;
}

main > section#seção_1 > div > button#botão_whatsapp > a > img {
  width: 40px;
  padding-right: 5px;
}

main > section#seção_1 > div > button#botão_whatsapp > a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

main > section#seção_1 > div > button#botão_whatsapp > a:hover {
  color: black;
  text-decoration: underline;
}

/* Configurações da frase extra */
p#frase_extra {
  color: white;
  background-color: #08061b;
  display: block;
  text-align: justify;
}

/* Configuração da seção de serviços */
section#seção_2 {
  background: black url(../images/fundo2.jpg) no-repeat center center;
  background-size: cover;

  padding-top: 20px;
  display: flex;
}

section#seção_2 > div#linha_branca_menor,
div#linha_branca_maior {
  background-color: white;
  height: 5px;
}

section#seção_2 > h1 {
  text-align: center;
  padding: 5px;
}

div#cabelo {
  background-image: url(../images/cabelo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

div#barba {
  background-image: url(../images/barba.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

div#sobrancelha {
  background-image: url(../images/sobrancelha.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.tipos_de_serviços {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.nomes_dos_serviços {
  font-size: 20px;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.637);
}

/* Configurações da seção do instagram */
section#seção_3 {
  background-color: #08061b;
  padding-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

section#seção_3 > div#linha_laranja_menor,
div#linha_laranja_maior {
  background-color: #c7720f;
  height: 5px;
}

section#seção_3 > h1 {
  text-align: center;
  padding: 5px;
}

section#seção_3 > h1 > a {
  color: #c7720f;
}

section#seção_3 > h1 > a:hover {
  color: red;
  text-decoration: none;
}

div#modelos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Configuração footer */
footer {
  color: white;
  background-color: black;

  font-size: 0.7em;
  padding: 20px;
}

footer > nav > a {
  color: rgb(43, 43, 226);
}

footer > nav > a:hover {
  color: red;
  text-decoration: none;
}

footer > nav > a.links_do_meio::after {
  content: ", ";
  color: white;
}

footer > nav > a.link_final::after {
  content: ".";
  color: white;
}
