@charset "UTF-8";

@font-face {
    font-family: gotham;
    src: url(../font/Gotham_Black.otf);
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: gotham, sans-serif;
    width: 100%;
}


div#inicial{
    display: flex;
    background-color: black;
    background-image: url(../images/fundo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h1.laranja{
    color: #c7720f;
}

h1.branco{
    color: white;
}

p, a{
    color: white;
}

div#whatsapp{
    display: flex;
    flex-direction: row;
    background-color: #c7720f;
    width: 200px;
    border-radius: 15px;
    padding: 10px 10px 10px 15px;
}

div#whatsapp>a{
    padding: 7px 0px 0px 10px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: #08061b;
}

h1,p, a{
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.577);
}

div#caixaazul{
    background-color: #08061b;
    height: 40px;
    padding: 30px;
}

div#serviços{
    display: flex;
    flex-direction: column;
    background-color: black;
    background-image: url(../images/fundo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-top: 20px;
}

div#linhabranca1,div#linhabranca2{
    margin: auto;
    background-color: white;
    height: 5px;
    margin-top: 10px;
}

div#corte{
    background-image: url(../images/cabelo.jpg);
}

div#barba{
    background-image: url(../images/barba.jpg);
}

div#sobrancelha{
    background-image: url(../images/sobrancelha.jpg);
}

div#corte, div#barba, div#sobrancelha{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: auto;
}

div#serviços>div>img{
    padding-top: 30px;
    padding-bottom: 15px;
}

div#linhalaranja1, div#linhalaranja2{
    background-color: #c7720f;
    height: 5px;
    margin: auto;
    margin-top: 10px;
}

div#instagram>h1>a{
    text-decoration: underline;
    color: #c7720f;
}

div#instagram{
    flex-direction: column;
    background-color: #08061b;
    padding-top: 20px;
    text-align: center;
}

footer{
    background-color: black;
}

footer>p{
    font-size: 0.6em;
}

footer>p>a{
    text-decoration: underline;
}


footer>p>a:hover{
    color: #c7720f;
}